\documentclass[11pt]{letter}
\usepackage[margin=1in]{geometry}
\usepackage{hyperref}
\usepackage{parskip}

\begin{document}

\date{ {{- current_date -}} }

\begin{letter}{ {{- recipient_block -}} }

\opening{Dear Hiring Team,}

{{ opening_paragraph }}

{% for paragraph in body_paragraphs %}
{{ paragraph }}

{% endfor %}

{{ closing_paragraph }}

\closing{Sincerely,\\Yanyu Wu}

\end{letter}

\end{document}
